body {
    background: #e2ecec;
    color: #1d3281;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

#wrapper {
    background: #b7d3e6;
    width: 1100px;
    margin: 50px auto;
    
}

#wrapper header {
    background: #85bcf0;
    font-style: oblique;
    padding: 50px;
}

#wrapper header hgroup {
    float: left;
    color: #1d3281;
}

#textjudul {
    font-family: 'verdana';
    font-weight: 800;
    font-size: 30px;
}

h3 {
    text-decoration-line: underline;
    font-size: 20px;
}
table {
    margin: auto;
    margin-bottom: 50px;
}
th {
    text-align: left;
}
h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 5px;
    color: #1d3281;
    width: 100%;
    line-height: 20px;
}

footer {
    font-family: 'comic sans ms';
    background: #5b87b1;
    padding: 20px;
    text-align: center
}

footer a {
    color: #9cd2f1;
    text-decoration: none;
}

section {
    padding: 25px;
}